@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Audiowide;
}

h1, p {
    color: white;
}

.image {
    background: url(images/valentin-beauvais-yVUQlyRlJSw-unsplash.jpg) no-repeat center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.signup-section {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}

.signup {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: #000912;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 5px
}

.form-group label {
    color: white;
    font-size: 1.2em;
}

.form-group input {
    width: 100%;
    padding: 2px 25px;
    border-radius: 25px;
    border: 4.5px solid #cf1497;
    font-size: 1.5em;
}

.form-group input:focus {
    border-color: rgb(153, 0, 255);
}

.form-group input:invalid {
    border-color: #f00232;
}

.form-group input:valid {
    border-color: #05bd05;
}

.form {
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    grid-template-rows: 1fr 1fr 1fr ;
    gap: 20px;

    background-color: #130c1c;
    width: 100%;
    padding: 50px;
}

.form-title {
    grid-column: span 2;
    color: white;
}

.submit-button {
    width: 200px;
    margin-top: 10px;
    margin-bottom: -20px;
}

.heading {
    margin: 50px;
    margin-top: 10%;
    font-size: 3em;
}

.submit-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 30px 50px;
    align-self: start;
}

.submit-button {
    padding: 10px;
    font-size: 1.2em;
    background-color: #f30664;
    border: 5px #f30664 solid;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease-out;
}

.submit-button:hover {
    background-color: #ed1789;
    border-color: #ed1789;
    transform: translateY(-10px);
}

a {
    color: #3caed7;
    text-decoration: none;
}

.image {
    display: flex;
    flex-direction: column;
    align-items : center;
    justify-content: center;
    padding: 15px;
}

.citation {
    margin-top: auto;
    align-self: start;
    color: rgb(255, 28, 255);
}

.logo {
    background-color: #0000007f;
    width: 105%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    padding: 25px;
}

.logo h1 {
    font-size: 7rem;
}

.logo img {
    width: 200px;
}